<ons-toolbar>
  <div class="left">
    <ons-back-button>Back</ons-back-button>
  </div>
  <div class="center">{{ pokemon.name | capitalize }}</div>
</ons-toolbar>

<div class="content">
  <img class="sprite" src="/images/pokemon/sprites/{{ pokemon.id }}.png">

  <div
    class="progress"
    *ngIf="!loaded"
  >
    <ons-progress-circular
      indeterminate
    >
    </ons-progress-circular>
  </div>

  <div class="info" *ngIf="loaded">
    <div class="types">
      <div
        class="type type-{{ type }}"
        *ngFor="let type of details.types">
        {{ type }}
      </div>
    </div>


    <div class="stats">
      <div class="stat">
        <div class="stat-label">
          Height
        </div>
        <div class="stat-value">
          {{ details.height / 10 }}m
        </div>
      </div>
      <div class="stat">
        <div class="stat-label">
          Weight
        </div>
        <div class="stat-value">
          {{ details.weight / 10 }}kg
        </div>
      </div>
    </div>

    <div class="description">
      {{ details.description }}
    </div>
  </div>
</div>

<ons-bottom-toolbar>
  <div class="caught">
    <div class="caught-label">
      Caught
    </div>
    <div class="caught-checkbox">
      <ons-input
      type="checkbox"
      (change)="onChange($event, pokemon)"
      [checked]="caughtPokemon.has(pokemon.id)"
      ></ons-input>
    </div>
  </div>
</ons-bottom-toolbar>
